asgiref==3.8.1
black==25.1.0
Django==4.2.9
django-filter
django-seed
django-debug-toolbar
djangorestframework==3.15.2
djangorestframework_simplejwt==5.5.0
django-redis==5.4
drf-spectacular==0.27.1
django-q==1.3
Faker==37
pillow==11.1.0